<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>美女01</string>
		<key>imageName</key>
		<string>美女01.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女02</string>
		<key>imageName</key>
		<string>美女02.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女03</string>
		<key>imageName</key>
		<string>美女03.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女04</string>
		<key>imageName</key>
		<string>美女04.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女05</string>
		<key>imageName</key>
		<string>美女05.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女06</string>
		<key>imageName</key>
		<string>美女06.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女07</string>
		<key>imageName</key>
		<string>美女07.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女08</string>
		<key>imageName</key>
		<string>美女08.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女09</string>
		<key>imageName</key>
		<string>美女09.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女10</string>
		<key>imageName</key>
		<string>美女10.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女11</string>
		<key>imageName</key>
		<string>美女11.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女12</string>
		<key>imageName</key>
		<string>美女12.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女13</string>
		<key>imageName</key>
		<string>美女13.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女14</string>
		<key>imageName</key>
		<string>美女14.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女15</string>
		<key>imageName</key>
		<string>美女15.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女16</string>
		<key>imageName</key>
		<string>美女16.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女17</string>
		<key>imageName</key>
		<string>美女17.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女18</string>
		<key>imageName</key>
		<string>美女18.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女19</string>
		<key>imageName</key>
		<string>美女19.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女20</string>
		<key>imageName</key>
		<string>美女20.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女21</string>
		<key>imageName</key>
		<string>美女21.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女22</string>
		<key>imageName</key>
		<string>美女22.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女23</string>
		<key>imageName</key>
		<string>美女23.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女24</string>
		<key>imageName</key>
		<string>美女24.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>美女25</string>
		<key>imageName</key>
		<string>美女25.jpg</string>
	</dict>
</array>
</plist>
